html {
	margin: 0;
    transition: 1s;
}

body {
	background-color: #1f2225;
	color: #ababab;
	font-family: sans-serif;
	transition: 1s;
}

a {
	text-decoration: none;
	display: inline;
}

h1 {
	position: relative;
	display: inline-block;
}

img.hh {
	border-radius: 50%;
	position: relative;
	width: 10%;
	height: 10%;
	left: auto;
	right: auto;
}

.container {
    margin: 0 auto; /* margens automáticas para centralizar */
    text-align: center; /* centraliza o texto dentro da div */
}


@keyframes saturate {
0%  { filter: saturate(0%); }
100% { filter: saturate(100%); }
}

img.icone {
filter: saturate(0%);
transition: filter 1s; /* Adicione esta linha para a transição suave */
}

img.icone:hover {
animation-fill-mode: forwards;
filter: saturate(100%);
}

#git {
filter: invert(20%);
}

#git:hover {
filter: invert(0%);
animation-fill-mode: forwards;
}

@media only screen and (min-width: 768px) {
img.icone {
    width: 6vw;
}
}

@media only screen and (max-width: 768px) {
img.icone {
    width: 10vw;
}
}