html {
	margin: 0;
    transition: 1s;
}

body {
	background-color: #1f2225;
	color: #ababab;
	font-family: sans-serif;
	transition: 1s;
}

a {
	text-decoration: none;
	display: inline;
}

h1 {
	position: relative;
	display: inline-block;
}

img.hh {
	border-radius: 50%;
	position: relative;
	width: 10%;
	height: 10%;
	left: auto;
	right: auto;
}

.container {
    margin: 0 auto; /* margens automáticas para centralizar */
    text-align: center; /* centraliza o texto dentro da div */
}


@keyframes saturate {
0%  { filter: saturate(0%); }
100% { filter: saturate(100%); }
}

img.icone {
filter: saturate(0%);
transition: filter 1s; /* Adicione esta linha para a transição suave */
}

img.icone:hover {
animation-fill-mode: forwards;
filter: saturate(100%);
}

#git {
filter: invert(20%);
}

#git:hover {
filter: invert(0%);
animation-fill-mode: forwards;
}

@media only screen and (min-width: 768px) {
img.icone {
    width: 6vw;
}
}

@media only screen and (max-width: 768px) {
img.icone {
    width: 10vw;
}
}

#menu {
	background: #0099CC;
	background: linear-gradient(to bottom,  #FEB6E3,  #1F2225);
	height: 45px;
	border-radius: 0px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: center;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\2B9F";
	margin-left: 5px;
}
#menu li a:hover {
	color: #57AAAD;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#444444;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
